<app-barra-sup (clicHamburguesa)="alHacerClicHamburguesa()" [esModoOscuro]="esModoOscuro()" (clicAlternarTema)="alternarTema()"/>

<main class="flex-1 flex overflow-hidden relative" data-purpose="main-content">
  @if (barraFijada()) {
    <div class="mobile-overlay" (click)="alHacerClicHamburguesa()"></div>
  }

  <app-barra-lat
    [class.pinned]="barraFijada()"
    [vistaActiva]="vistaActiva()"
    [estaFijada]="barraFijada()"
    (cambioDeVista)="alCambiarVista($event)" />

  @if (vistaActiva() === 'notas') {
    <app-editor-notas />
  }
</main>