<header class="top-nav-header" data-purpose="top-navigation">
  <div class="left-section">
    <button class="hamburger-btn" (click)="alClicHamb()">
      <i class="fa-solid fa-bars"></i>
    </button>

    <div class="brand">
      <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 2L22 12L12 22L2 12L12 2Z" fill="#0ea5e9"></path>
        <path d="M12 2L2 12L12 22V2Z" fill="#0284c7"></path>
      </svg>
      <div class="brand-text">
        <div>Online</div>
        <div>Notepad</div>
      </div>
    </div>

    <div class="doc-title-wrapper flex items-center">
      <input
      class="doc-title-input"
      placeholder="Untitled Document"
      type="text"
      [value]="servNota.obtNotaAct()?.titulo === 'Untitled Document' ? '' : servNota.obtNotaAct()?.titulo"
      (input)="alCambiarTit($event)" />
        
      <span class="text-xs italic ml-3 flex items-center gap-1" 
            [class.text-gray-400]="!esModoOscuro"
            [class.text-gray-500]="esModoOscuro"
            style="transition: color 0.3s ease;">
        @if (servNota.estSinc() === 'Guardando...') {
          <i class="fa-solid fa-circle-notch fa-spin text-[15px]"></i>
        }
        {{ servNota.estSinc() }}
      </span>
    </div>
  </div>

  <div class="right-section">
    <div class="search-box">
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
      <span class="search-placeholder">Search...</span>
      <div class="shortcuts">
        <span class="shortcut-key">Ctrl</span>
        <span class="shortcut-key">K</span>
      </div>
    </div>

    <div class="actions-group">
      <button class="action-btn" (click)="alAltTema()">
        @if (esModoOscuro) {
          <i class="fa-solid fa-sun text-yellow-400"></i>
        } @else {
          <i class="fa-regular fa-moon"></i>
        }
      </button>
      <button class="action-btn">
        <i class="fa-solid fa-headphones"></i>
      </button>
      <button class="action-btn">
        <i class="fa-regular fa-user"></i>
      </button>
    </div>
  </div>
</header>